<!-- @format -->

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=
            , initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <h1>Multiplos de 3 y 5</h1>

    <ul>
        <% multiplos.forEach(function(numeros){ %>
            <li>
                <%-numeros %>
            </li>
            <% }); %>
    </ul>

    <script src="./index.js"></script>
</body>

</html>